[build]
  base = "/"
  command = "pip install -r backend/requirements.txt && pip install jinja2"
  publish = "web"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/static/*"
  to = "/static/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api"
  status = 200

[build.environment]
  NODE_ENV = "production"
  PYTHON_VERSION = "3.9"

[functions]
  directory = "netlify/functions"